@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Devops Engineer</h1>
    <p>Building .Net Core Web Applications in October 2024</p>
</div>
